@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Quicksand:wght@300;400&display=swap');
*{
    padding: 0;
    margin: 0;
}
:root{
    --corRoxo01: #E68DF2;
    --corRoxo02: #AE4AD9;
    --corRoxo03: #5A278C;
    --corRoxo04: #220C40;
    --corRoxo05: #100626;
}
body, html{
    width: 100vw;
    height: 100vh;
    
}
header{
    background-image: linear-gradient(to right, white 15%, var(--corRoxo01), var(--corRoxo02), var(--corRoxo03) );
    height: 80px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.288);
    margin-bottom: 3px;
}
header h1{
    font-family: 'Merienda', cursive;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    background-color: #f4efff;
    width: 1200px;
    height: auto;
    margin: 0 auto;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.267);
}
section#int{
    display: grid;
    justify-content: center;
    grid-template-columns: 900px;
    margin-bottom: 50px;
}

section#int h2{
    font-family: 'Merienda', cursive;
    text-align: center;
    margin: 20px 0px;
}

section#int p{
    font-family: 'Quicksand', sans-serif;
    text-align: justify;
    text-indent: 20px;
    margin-bottom: 7px;
}
div#title{
    display: flex;
    align-content: center;
    height: 80px;
    justify-content: center;
}
.foto img{
    max-width: 100%;
    
}
section#container{
    padding: 30px;
    display: grid;
    grid-template-columns: 500px 500px;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 30px;
}



.texto h2{
    font-family: 'Merienda', cursive;
    margin-bottom: 20px;
}
.texto p{
    font-family: 'Quicksand', sans-serif;
    text-align: justify;
    text-indent: 10px;
    margin-bottom: 7px;
}


.fotos{
    border-radius: 30px;
}

::-webkit-scrollbar{
    width: 0;
}
div#final{
    display: grid;
    justify-content: center;
    grid-template-columns: 800px;
}
div#final h2{
    font-family: 'Merienda', cursive;
    text-align: center;
    margin-bottom: 30px;
}
div#final p{
    font-family: 'Quicksand', sans-serif;
    text-indent: 20px;
    text-align: justify;
    margin-bottom: 30px;
}
div#footer{
    background-color: black;
    display: block;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
div#footer h2{
    color: white;
    font-family: 'Quicksand', sans-serif;
}

@media screen and (min-width: 1181px)  {

    .texto h2{
        text-align: center;
    }
    div#final {
        margin-top: 50px;
    }
}
@media screen and (min-width: 800px) and (max-width: 1180px) {
    main{
        width: 800px;
    }
    section#int{
        grid-template-columns: 700px;
        
    }
    section#container{
        grid-template-columns: 300px 300px;

    }
    .texto h2{
        text-align: center;
    }
    div#final{
        
        grid-template-columns: 700px;
    }
    
}

@media screen and (max-width: 799px) {
    main{
        width: 300px;
    }
    section#int{
        grid-template-columns: 250px;
       
    }
    section#container{
        grid-template-columns: 270px;
        row-gap: 20px;
    }
    .fotos{
        margin-bottom: 70px;
    }
    
    #texto1{
        order: -1;
    }

    #foto1{
        order: 1;
    }
    #texto2{
        order: 2;
    }
    #foto2{
        order: 3;
    }
    #texto3{
        order: 4;
    }
    #foto3{
        order: 5;
    }
    #texto4{
        order: 6;
    }
    #foto4{
        order: 7;

    }#texto5{
        order: 8;
    }
    #foto5{
        order: 9;
    }

    article#texto5 h2{
        font-size: 1.4em;
    }
    div#final{
        grid-template-columns: 270px;  
        margin-bottom: 50px; 
    }
    div#final h2{
        margin-bottom: 10px;
    }
    div#final p{
        margin-bottom: 10px;
    }
    
}