@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');

body{
    background-image: linear-gradient(45deg,#658F8D,#E9CAAE );
    background-attachment: fixed;
    
}   
h1{
    color:#405B54;
    text-align: center;
    text-shadow: 5px 5px 10px #405B54;
    font-family: 'Merienda', 'cursive';
    
    
}
main{
    background-color: white;
    margin: auto;
    margin-top: 80px;
    padding: 30px;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.699);
}
p{
    text-indent: 30px;
    text-align: justify;    
    font-family: 'Edu VIC WA NT Beginner', 'cursive';
    font-size: 18px;

    
    

   
}
#paleta{
    margin-top: 30px;
    text-align: center;
}
h2{
    color: #405B54;
    font-family: 'Bad Script', 'cursive';
    text-shadow: 5px 5px 10px #658F8D;

}