*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #dddddd;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

div#main{
    background-color: white;
    width: 1000px;
    margin: auto;
    padding: 10px;
}
h3{
    background-color: #cccccc;
    border-radius: 5px;
    text-indent: 5px;
    margin: 5px 0px;
    padding: 2px;
}
div#cabec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

div#cabec h3{
    margin-right: 30px;
}
div#cabec img{
    margin-left: 30px;
}
div#firstInput{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 5px;
}
input{
    height: 25px;
    border: .5px solid black;
    border-radius: 4px;
    text-indent: 5px;
    margin-top: 5px;
}

div#endereco{
    display: grid;
}

div#cep{
    display: grid;
    grid-template-columns: 30% 10% 59%;
    gap: 5px;
}

div#dadosAnimal1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}
div#dadosAnimal2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}
div#dadosAnimal3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}
div h3#anam{
    display: grid;
    text-align: center;
}

div#lab{
    font-size: 1.2em;
    margin-bottom: 5px;
}
textarea{
    padding: 7px;
}
div#dadosAnimal4{
    display: grid;
    grid-template-columns: 1fr;
}