@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&family=Kaushan+Script&family=Quicksand&family=Roboto+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
}
:root{
    --fontTittle: 'Kaushan Script', cursive;
    --fontTexto: 'Quicksand', sans-serif;
}

body, html{
    width: 100vw;
    height: 100vh;

}
::-webkit-scrollbar{
    width: 0;
    height: 0;
}

main{
    width: 100vw;
    background-color: white;
}
img{
    max-width: 100%;
}
div#foto{
    margin: 50px auto;
    width: 50%;
}

section#preto article{
    width: 75%;
    margin: 30px auto;
}

main h1{
    font-size: 3em;
    text-align: center;
}

div#container{
    display: flex;
    height: calc(100vh - 160px);
}

section#preto{
    background-color: black;
    padding: 10px;
    width: 50%;
   
}
section#preto h2{
    color: white;
    font-family: var(--fontTittle);
    font-size: 2.7em;
}
section#preto p{
    color: white;
    font-family: var(--fontTexto);
    text-align: justify;
    font-size: 1.3em;
}


section#branco{
    padding: 10px;
    width: 50%;
}
section#branco h2{
    font-family: var(--fontTittle);
    font-size: 2.5em;
}

section#branco p{
    font-family: var(--fontTexto);
    font-size: 1.3em;
    margin-top: 5px;
    text-indent: 40px;
}
article > p > a{
    color: blue;
    text-decoration: none;
}
article > p > a:hover{
    text-decoration: underline;
}

section#branco article{
    width: 70%;
    margin:  30px auto;
}

@media screen and (max-width: 700px) {
    main{
        width: 100vw;
        height: auto;

    }
    section#preto article{
        width: 75%;
        margin: 30px auto;
    }
    
    main h1{
        font-size: 3em;
        text-align: center;
    }
    
    div#container{
        display: block;
        height: auto;
        width: 96%;
    }
    
    section#preto{
        background-color: black;
        padding: 10px;
        width: 100%;
       
    }
    section#preto h2{
        color: white;
        font-family: var(--fontTittle);
        font-size: 2.7em;
    }
    section#preto p{
        color: white;
        font-family: var(--fontTexto);
        text-align: justify;
        font-size: 1.3em;
    }
    
    
    section#branco{
        padding: 10px;
        width: 100%;
    }
    section#branco h2{
        font-family: var(--fontTittle);
        font-size: 2.5em;
    }
    
    section#branco p{
        font-family: var(--fontTexto);
        font-size: 1.3em;
        margin-top: 5px;
        text-indent: 40px;
        text-align: justify;
    }
}

@media screen and (min-width: 701px) and (max-width: 899px){
    main{
        width: 100vw;
        height: auto;

    }
    section#preto article{
        width: 75%;
        margin: 30px auto;
    }
    
    main h1{
        font-size: 3em;
        text-align: center;
    }
    
    div#container{
        display: block;
        height: auto;
    }
    
    section#preto{
        background-color: black;
        padding: 10px;
        width: 100%;
       
    }
    section#preto h2{
        color: white;
        font-family: var(--fontTittle);
        font-size: 2.7em;
    }
    section#preto p{
        color: white;
        font-family: var(--fontTexto);
        text-align: justify;
        font-size: 1.3em;
    }
    
    
    section#branco{
        display: grid;
        grid-template-columns: 400px 400px;
        padding: 10px;
        width: 100%;
    }
    section#branco h2{
        font-family: var(--fontTittle);
        font-size: 2.5em;
    }
    
    section#branco p{
        font-family: var(--fontTexto);
        font-size: 1.3em;
        margin-top: 5px;
        text-indent: 20px;
        text-align: justify;
    }
}

@media screen and (min-width: 900px) and (max-width: 1100px){
    section#branco{
        overflow: auto;
    }
} 