*{
    margin: 0;
    padding: 0;
}
img{
    width: 100vw;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
a{
    display: block;
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-weight: bold;
    margin-top: -5px;
    margin-right: 5px;
    
}
