@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&family=Kaushan+Script&family=Quicksand&family=Roboto+Mono&display=swap');
*{
    padding: 0;
    margin: 0;
}
:root{
    --fontTittle: 'Kaushan Script', cursive;
    --fontTexto: 'Quicksand', sans-serif;
}
body {
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(circle, white, black); /* 2200 / 1175 */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
   
}
::-webkit-scrollbar{
    width: 0;
}
header{
    width: 100%;
    height: 130px;
    background-color: rgba(0, 0, 0, 0.692);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1{
    width: 30%;
    text-align: center;
}
h1 a{
    color: white;
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-style: italic;
}

#menu{
    margin-right: 50px;
    display: flex;
    color: white;
    list-style: none;
    font-size: 2em;
}
button#jogos{
    color: white;
    font-family: 'Patrick Hand', cursive;
    font-style: italic;
    font-size: 1em;
    border: none;
    background-color: transparent;
}
#jogos:hover{
    cursor: pointer;
}

#menu a{
    text-decoration: none;
    color: white;
}
#menu li{
    padding: 10px;
    font-family: 'Patrick Hand', cursive;
    font-style: italic;
    font-size: 1.2em;
    text-decoration: none;
    color: white;
}

#menu li:hover{
    background-color: black;
    cursor: pointer;
}
#botao-mobile{
    display: none;
}
#botao-mobile:hover{
    cursor: pointer;
    
}
#close-bar{
    display: none;
}

#lista{
    display: block;
    color: white;
    font-family: 'Patrick Hand', cursive;
    font-style: italic;
    font-size: 1.7em;
    position: absolute;
    height: 0px;
    top: 130px;
    right: 200px;
    width: 265px;
    text-align: center;
    visibility: hidden;
    overflow-y: hidden;
    transition: 1s;
    
}
#lista li{
    color: white;
    text-decoration: none;
}
#lista a{
    text-decoration: none;
}

#link::after{
    content: '🔗';
}

nav.active #lista{
    height: 209px;
    display: block;
    visibility: visible;
    background-color: rgb(43, 43, 43);
    overflow: auto;
}
#lista li{
   list-style: none;
   padding: 8px;
}

 #lista li:hover{
    background-color: rgb(19, 19, 19);
    cursor: pointer;
}

#game{
    display: none;
}

/* introdução do site */

main{
    width: 100vw;
    height: auto;
    background-color: white;
}

section#int{
    background-color: black;
    width: 100vw;
    height: 600px;
    display: flex;
    align-items: center;
}
img{
    max-width: 100%;
    
}
div#foto{
    width: 70%;
    margin-top: 100px;
}
div#cont{
    display: flex;
    margin: auto;
}
div#textin{
    padding: 10px;
    margin-bottom: 150px;
    width: 700px;
}
section#int h1{
    text-indent: 20px;
    color: white;
    font-size: 3em;
    font-family: var(--fontTittle);
    text-align: center;
    margin-bottom: 20px;
}
section#int p{
    color: white;
    font-family: var(--fontTexto);
    font-size: 1.5em;
    text-align: center;
    
    
}
section#conteudo1{
    max-width: 100%;
    height: auto;
}
p#center{
    text-align: center;
    font-style: italic;
}
p#brinks{
    text-align: right;
    font-size: 1.1em;
    margin-right: 70px;
}
article > p > a{
    text-decoration: none;
    color: blue;
    
}

article > p > a:hover{
    text-decoration: underline;
}

div#FlorkPaz{
    margin-top: 30px;
}
/* RODAPÉ */
footer{
    background-color: black;
    font-weight: bolder;
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.baixo{
    margin-bottom: 50px;
}

@media screen and (min-width: 1101px) {
    div#foto{
        text-align: right;
    }
    div#container{
        display: grid;
        grid-template-columns: 500px 500px;
        justify-content: space-evenly;
        align-items: center;
        
        
    }
    article{
        margin-top: 30px;
    }
    article h2{
        text-align: center;
        font-family: var(--fontTittle);
        font-size: 2.5em;
        
    }
    article p{
        margin-top: 10px;
        text-align: justify;
        font-family: var(--fontTexto);
        font-weight: 600;
        font-size: 1.3em;
    
    }
    #link::after{
        content: '🔗 ';
    }
    
}

@media screen and (min-width: 900px) and (max-width: 1100px){

    div#foto{
        text-align: right;
    }
    div#container{
        display: grid;
        grid-template-columns: 400px 400px;
        justify-content: space-around;
    }
    article{
        margin-top: 30px;
    }
    article h2{
        text-align: center;
        font-family: var(--fontTittle);
        
    }
    article p{
        margin-top: 10px;
        text-align: justify;
        font-family: var(--fontTexto);
        font-weight: 600;
    
    }
    p#brinks{
        text-align: right;
        font-size: .9em;
        margin-right: 70px;
    }
    div#FlorkPaz{
        margin-top: 30px;
        margin-left: 50px;
        width: 300px;
        
    }
    #link::after{
        content: '🔗 ';
    }
}




@media screen and (min-width: 701px) and (max-width: 899px) {
   h1 a{
    font-size: 1.3em;
   } 
   #menu li{
    font-size: .9em;
   }

   nav.active #lista{
    display: block;
    visibility: visible;
    right: 160px;
    width: 220px;
    font-size: 1.3em;
    height: 177px;
    position: absolute;
    
   }

   #lista{
    
    display: block;
    position: absolute;
    height: 0px;
    font-size: 1.3em;
    top: 130px;
    right: 160px;
    width: 220px;
    text-align: center;
    visibility: hidden;
    overflow-y: hidden;
    transition: 1s;
}
div#foto{
       
    width: 40%;
}

div#textin{
    padding: 10px;
    margin-bottom: 90px;
    width: 50%;
   
}
section#int h1{
    color: white;
    font-size: 2.4em;
    font-family: var(--fontTittle);
    text-align: center;
    
}
section#int p{
    color: white;
    font-family: var(--fontTexto);
    font-size: 1.1em;
    
}

div#container{
    display: grid;
    grid-template-columns: 300px 300px;
    justify-content: space-around;
}
article{
    margin-top: 30px;
}
article h2{
    text-align: center;
    font-family: var(--fontTittle);
    
}
article p{
    margin-top: 10px;
    text-align: justify;
    font-family: var(--fontTexto);
    font-weight: 600;

}
p#brinks{
    text-align: right;
    font-size: .8em;
    margin-right: 70px;
}
div#FlorkPaz{
    margin-top: 50px;
}
}

@media screen and (max-width: 700px) {
    #game1{
        display: none;
    }
    #game{
        display: block;
    }
    nav.active #lista{
        display: none;
    }
    header{
        height: 100px;
    }
    #botao-mobile{
        display: block;
        background-color: transparent;
        border: 0;
        outline: none;
        color: white;
        margin-right: 50px;
    }
    #botao-mobile span{
        font-size: 1.9em;
    }
    #menu{
        display: block;
        position: absolute;
        top: 100px;
        left: 0;
        height: 0;
        width: 100%;
        background-color: rgb(25, 25, 25);
        transition: 1.4s;
        visibility: hidden;
        overflow-y: hidden;
          
    }
    

    nav.active #menu{
        overflow: auto;
        height: calc(100vh - 100px);
        visibility: visible;
    }
    
    #menu li{
        padding: 1rem 0rem;
        margin: 0rem 1rem;
        border-bottom: 2px solid black;
        text-indent: 20px;
        font-size: .8em;
    }
    nav.active #menu-bar{
        display: none;
    }
    nav.active #close-bar{
        display: block;
    }
    
    h1{
        font-size: 1.5em;
    }
    div#foto{
       
        width: 40%;
    }
    section#int{
        height: 400px;
    }
    div#textin{
        padding: 10px;
        margin-bottom: 90px;
        width: 50%;
       
    }
    section#int h1{
        color: white;
        font-size: 1.6em;
        font-family: var(--fontTittle);
        text-align: center;
        
    }
    section#int p{
        color: white;
        font-family: var(--fontTexto);
        font-size: .9em;
        
    }
    div#container{
        display: grid;
        grid-template-columns: 300px;
        justify-content: space-around;
    }
    article{
        margin-top: 30px;
    }
    article h2{
        text-align: center;
        font-family: var(--fontTittle);
        
    }
    article p{
        margin-top: 10px;
        text-align: justify;
        font-family: var(--fontTexto);
        font-weight: 600;
    }
    footer{
        background-color: black;
        font-weight: bolder;
        color: white;
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    p#brinks{
        text-align: right;
        font-size: .8em;
        margin-right: 70px;
    }
    div#FlorkPaz{
        margin: 30px auto;
        width: 200px;
    }
    .baixo{
        margin-bottom: 0px;
    }
    header h1{
        font-size: 1.2em;
        width: 50%;
        text-align: center;
    }
}






