@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Inter&family=Mali&display=swap');
*{
    padding: 0;
    margin: 0;
}
:root{
    --cor01: #AAECFC;
    --cor02: #88A3E2;
    --cor03: #B7A6F6;
    --cor04: #C37EDB;
}
body, html{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(45deg, var(--cor01), var(--cor02), var(--cor03), var(--cor04));
}
main{
    background-color: white;
    width: 280px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 2px 2px 26px black;
    padding: 10px;
}

h1{
    font-family: bad Script;
    text-align: center;
}
button{
    width: 100px;
    height: 50px;
    background-image: linear-gradient(45deg, var(--cor01), var(--cor02), var(--cor03), var(--cor04));
    border: 0.5px solid black;
    outline: none;
    font-family: inter;
    font-size: 1.2em;
    border-radius: 5px;
}
button:hover{
    background-image: linear-gradient(45deg, #6fabb9, #506597, #7668ac, #7b418f);
    cursor: pointer;
    color: white;
}
div#divButton{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

