@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Mali&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
}
div#calculo{
    display: grid;
    grid-template-columns: 140px 140px;
    width: 200px;
    
    justify-content: space-between;
    
    margin: 20px auto 15px auto;
    
}
input[type=number]{
    width: 40px;
    height: 30px;
    margin-left: 5px;
    font-size: 1.3em;
}
h1{
    margin: auto;
    text-align: center;
    font-family: 'Mali', cursive;
}
p{
    font-size: 1em;
    font-family: 'Bad script', cursive;
}
p#res{
    text-align: center;
    margin-top: 30px;
    font-size: 1.6em;
    font-family: Arial, Helvetica, sans-serif;
}
div#butt{
    
    width: 150px;
    margin: 0px auto 10px auto;
}
button#botao{
    height: 30px;
    width: 150px;
    margin: auto;
    background-color: gray;
    color: white;
    border: 0;
    outline: 0;
    border-radius: 6px;
    font-family: 'Mali', cursive;
}

button#botao:hover{
    cursor: pointer;
    background-color: rgb(70, 70, 70);
}
