*{
    padding: 0;
    margin: 0;

}
html, body{
    background-color: black;
    width: 100vw;
    height: 100vh;

}
body{
    background-image: url('imagens/fundo-madeira.jpg');
    background-size: cover;
    background-position: top center;    
}
main{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    height: 100vh;
    
}
section#telefone{
    background-image: url('imagens/frame-iphone.png');
    position: absolute;
    width: 309px;
    height: 627px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
iframe{
    
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}
section#redes {
    margin-top: 200px;
    
}
section#redes img{
    border-radius: 100%;
    width: 60px;
    width: 60px;
    margin: 9px;
    box-sizing: border-box;
  
}


section#redes img:hover{
    border: 2px solid white;
    transform: translate(-5px, -5px);
    transition: transform 0.4s;
    box-shadow: 12px 12px 10px rgba(0, 0, 0, 0.658);
}
