@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Mali&display=swap');
*{
    padding: 0;
    margin: 0;
}
body, html{
    width: 100vw;
    height: 100vh;
}
main{
    width: 100vw;
    height: calc(100vh - 210px);
}
img{
    max-width: 100%;
   
}
section#cont{
    display: grid;
    grid-template-columns: 400px  400px;
    width: 900px;
    justify-content: space-between;
    margin: 50px auto;
    align-items: center;
}

div#prato h2{
    text-align: center;
    margin-bottom: 15px;
    font-family: 'Mali', cursive;
}

div#ingredientes p{
    text-align: center;
    margin-left: 20px;
    font-family: 'Mali', cursive;
    font-size: 2em;
    margin-bottom: 20px;
    
}
div#ingredientes p#baiao{
    text-align: center;
    margin-left: 20px;
    font-family: 'Mali', cursive;
    font-size: 1.4em;
    margin-bottom: 20px;
    
}
div#calculo p#preço{
    font-size: 1.5em;
}
div#calculo{
    display: flex;
    width: 260px;
    margin: 20px auto 0px auto;
    justify-content: space-between;
}
.botaoPreço{
    height: 32px;
    border-radius: 10px;
    border: .5px solid black;
    outline: none;
    padding: 5px;
}
.botaoPreço:hover{
    background-color: rgb(184, 182, 182);
    cursor: pointer;
    
}
input#n1{
    width: 35px;
    height: 25px;
    margin: 0 auto;
    text-align: center;
}

div#qtds{
    width: 122px;
     margin: 0 auto;
    
}
div#quant{
    display: flex;
    width: 250px;
    margin: 0 auto;
    justify-content: space-between;
    
}
div#pedido{
    display: block;

}

div#whats p{
    display: flex;
    justify-content: center;
    align-content: center;
    
}
div#pedido a{
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    margin-left: 10px;
    align-items: center;
    

}
div#pedido a:hover{
    text-decoration: underline;


}
h4{
    font-size: 1em;
    font-family: 'Mali', cursive;
    text-align: center;
    margin-bottom: 10px;
}

@media screen and (max-width: 750px) {
    main{
        width: 100vw;
        height: calc(100vh - 180px);
    }
    section#cont{
        display: grid;
        grid-template-columns: 300px ;
        width: 300px;
        margin: 20px auto 0px auto;
        align-items: center;
        justify-content: center;
        
    }
    div#ingredientes p{
        font-size: 1.1em;
        margin-top: 20px;
    }
    footer p{
        font-size: .8em;
    }
    div#pedido a{
        text-decoration: none;
        color: black;
        font-size: 1.1em;
        margin-left: 10px;
    
    }
    div#calculo p#preço{
        font-size: 1em;
    }
    div#calculo{
        display: flex;
        width: 190px;
        margin: 20px auto;
        align-items: center;
        justify-content: space-between;
    }
    div#quant{
        display: flex;
        width: 210px;
        margin: 0 auto;
        justify-content: space-between;
        
    }
    input#n1{
        width: 25px;
        height: 20px;
        margin: 0 auto;
        text-align: center;
    }
    
    .spans{
        font-size: 0.8em;
    }
    
}

@media screen and (min-width: 751px) and (max-width: 920px) {
    section#cont{
        display: grid;
        grid-template-columns: 330px 330px;
        width: 500px;
        margin: 50px auto;
        align-items: center;
        justify-content: center;
    }
    div#ingredientes p{
        text-align: center;
        margin-left: 20px;
        font-family: 'Mali', cursive;
        font-size: 1.4em;
        
    }
}